@model ProjetoBancaTCC_OO2.Models.Aluno

@{
    ViewBag.Title = "CreateAluno";
}

<h2>Adicionar Aluno</h2>


<div class="panel">
    <form action="~/Aluno/CreateAluno" method="post">
        <div class="form-group">
            <label>id</label>
            <input class="form-control" type="text" id="Id" name="Id" />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" placeholder="Nome da pessoa" type="text" id="Nome" name="Nome" />
        </div>
        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>
